@import "../../assets/styles/colors";

.home-container{
    width: 100%;
    min-height: 100vh;
    background: $bg-img;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}