@import "../../../assets/styles/colors";


.header-container{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    a{
        text-decoration: none;
    }
    #logo {
        display: block;
        position: relative;
        margin: 0;
        margin-right: 3em;
        z-index: 1;
        h3{
            margin: 0;
            span {
                color: $yellow-primary-light;
                font-size: 1em;
                .logo {
                    fill: black;
                    width: 2em;
                    height: auto;
                    margin: 10px;
                }
            }
            span:nth-child(2){
                color: black;
            }
        }
    }
    .menu-button{
        display: flex;
        flex-direction: row;
    }
    a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: black;
        padding-left: 1rem;
    }
    svg{
        color:black;
    }
    .input-container{
        height: 2.5rem;
        padding-left: 0.5rem;
        // padding-right: 0.1rem;
        display: flex;
        flex-direction: row;
        border: 1px solid #ced4da;
        border-radius: 35px;
        align-items: center;

        input{
            width: 30vw;
            border: none;
            height: 2rem;
            font-size: 1rem;
            outline: none;
        }

        button{
            border: none;
            width: 2.5rem; height: 2.5rem;
            background-color: $yellow-primary-light;
            border: none;
            border-radius: 35px;
            padding: 0.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            svg{
                width: 100%;
            }
        }
    }
}