@import "../../assets/styles/colors";

.profile-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;

    .profile-header{
        height: 300px;
        width: 100%;
        background: linear-gradient(
            90deg,
            $yellow-primary-light 20%,
            $yellow-primary-dark 100%
            );
    }

    .profile-info{
        width: 60%;
        max-width: 1000px;
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
        
        .user-info{
            position: relative;
            top: -100px;
            background-color: white;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1.5rem;
            box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.34);

            .user-photo{
                border-radius: 50%;
                border: 0.5px solid $frames-color;
                overflow: hidden;
                padding: 0;
                margin: 0rem 2rem;
                input{
                    display: none;
                }
                label{
                    cursor: pointer;
                    margin: 0;
                }
            }

            .user-statistics{
                width: 100%;
                padding: 2rem 1rem;
                display: grid;
                grid-template-columns: 50% 50%;
            }
            button{
                outline: none;
            }
            
        }
        
        .right-container{
            position: relative;
            top:-80px;
            display: flex;
            flex-direction: column;
            padding-left: 2rem;
            width: 100%;

            p{
                font-size: 1.5rem;
            }

            .user-name{
                color: white;
                width: 55%;
                font-size: 2.5rem;
                padding: 1rem;
                padding-bottom: 2rem;
                font-style: italic;
                font-weight: 500;
            }

            .user-comments{
                background-color: white;

                .comment:first-child{
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                }
                .comment:last-child{
                    // background-color: red;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
                .comment{
                    padding: 1rem;
                    border: solid 1px $frames-color;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .info{
                        .link-name{
                            padding-bottom: 0.5rem;
                            a{
                                text-decoration: none;
                                color: $yellow-primary-dark;
                            }
                        }
                        .details{
                            .date{
                                padding-top: 0.2rem;
                                font-size: 13px;
                            }
                        }
                    }
                    .rightSide-comment{
                        display: flex;
                        flex-direction: column;
                        button{
                            position: relative;
                            top: -0.5rem;
                            align-self: flex-end;
                            outline:none;
                        }
                    }
                    .opinion{
                        display: flex;
                        align-items: center;
                        // border: 1px solid black;
                        width: 170px;
                        height: 50px;
                        justify-content: center;
                        border-radius: 25px;
                        align-self: center;
                        cursor: pointer;
                        &.negative{
                            background-color: #f3dde9;
                            color: #ba1159;
                        }
                        &.positive{
                            background-color: #acee5b;
                            color:green;
                        }
                        &.neutral{
                            background-color: #6cd1ff;
                            color:#0068f0;
                        }
                    }
                }
            }
        }
    }
}