@import "../../assets/styles/colors";

.link-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;

    .link-name{
        height: 100px;
        width: 100%;
        font-size: 2rem;
        background-color: $yellow-primary-light;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .link-info{
        width: 70%;
        display: flex;
        flex-direction: column;
        h3{
            padding: 1rem;
        }
        .stats-container{
            .stats{
                width: 100%;
                background-color: white;
                display: flex;
                flex-direction: column;
                .row:first-child{
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                }
                .row:last-child{
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
                .row{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    padding: 1rem 2rem ;
                    margin: 0;
                    border: solid 1px $frames-color;
                    span{
                        width: 50%;
                    }
                }
            }
        }
    }
}