@import "../../assets/styles/colors";

.link-container{
    min-height: 100vh;
    background: $bg-img;
    display: flex;
    flex-direction: column;
    align-items: center;

    .link-info{
        height: 100px;
        width: 100%;
        background-color: $yellow-primary-light;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .stats-container{
        width: 70%;
        
        .stats{
            width: 100%;
            background-color: white;
            border: solid 1px black;
            display: flex;
            flex-direction: column;
            .row{
                display: flex;
                flex-direction: row;
                margin: 0;
                span{
                    width: 50%;
                }
            }
        }
    }
}