$yellow-primary-light: rgba(241,196,15,1);
$yellow-primary-dark: rgba(243,172,18,1);
$frames-color: #ced4da;
$transparent: rgba(255, 255, 255, 0);

$bg-img: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");